* {
  font-family: Arial, sans-serif;
}

#banner {
  position: relative;
  display: block;
  width: 650px;
  height: 100px;
  margin: 0 auto;
	margin-top: 10px;
}

body {
  background: url('../img/astronomy-dark.jpg');
  background-size: 80em;
}

#imageSlideInUnicorn {
  height: 175px;
  width: 175px;
  z-index: +1;
  position: absolute;
  margin-left: 250px;
  top: -1000px;
  transition: 2800ms;
}

#imageSlideInCat {
  height: 175px;
  width: 175px;
  z-index: +1;
  position: absolute;
  margin-left: 250px;
  top: -1000px;
  transition: 2800ms;
}

#leaderboard {
  height: 300px;
  width: 300px;
  background-color: black;
  border: 2px solid white;
  border-radius: 180px;
  z-index: +1;
  position: absolute;
  margin-left: 98px;
  top: -1000px;
  transition: 2000ms;
}

#leaderboardMessage {
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: 18px;
  margin-top: 100px;
}

#goToLeaderboard {
  position: absolute;
  margin-left: 84px;
}

#scoreAndSpins {
  width: 235px;
  height: 100px;
  border: 1px solid white;
  border-radius: 80px;
  color: white;
  position: absolute;
  margin-left: 30px;
  text-align: center;
  font-size: 17px;
  font-weight: 600px;
  font-family: monospace;
  text-shadow: 3px 3px 10px #f818c0;
  border-radius: 80px;
}

#spins {
  margin-left: 25px;
  margin-top: 25px;
  width: 185px;
  height: 25px;
  text-align: center;
  font-family: monospace;
}

#score {
  margin-left: 25px;
  margin-bottom: 25px;
  width: 185px;
  height: 25px;
  text-align: center;
  font-family: monospace;
}

#roulette {
  width: 500px;
  height: 500px;
  position: absolute;
}

#wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 10px;
}

#centerCircle {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 100px;
  left: 100px;
  background-color: black;
  border-radius: 300px;
  opacity: 0.5;
}

.sliceEnd {
  stroke: #C0C0C0;
  stroke-width: 1px;
}

/* .sliceEnd:hover {
  fill: blue !important;
} */

#spinButton {
  position: absolute;
  display: block;
  top: 126px;
  left: 515px;
  color: white;
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
  width: 75px;
  background-color: rgb(255, 28, 336);
  transition: 0.05s;
  border-radius: 80px;
  padding:5px;
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
#spinButton {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#spinButton:hover, #spinButton:focus, #spinButton:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
  background-color: rgb(0, 174, 255);
}


#arrowImage {
  position: absolute;
  top: 150px;
  left: 460px;
  width: 140px;
  height: 125px;
}

#markerDiv {
  position: absolute;
  width: 5px;
  height: 5px;
  color: rgb(28, 183, 255);
  top: 250px;
  left: 465px;
  visibility: hidden;
}

.sliceRefPoint {
  fill: transparent;
}

.pow {
  position: absolute;
  transition: all .2s ease-out;
}

h1 {
  font-family: monospace;
  font-size: 50px;
  color: white;
  text-align: center;
}

#goToLeaderboard {
  position: absolute;
  display: block;
  color: white;
  font-family: monospace;
  font-size: 15px;
  /* font-weight: bold; */
  width: 125px;
  background-color: rgb(243, 18, 138);
  transition: 0.05s;
  border-radius: 80px;
  padding:5px;
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
#goToLeaderboard {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#goToLeaderboard:hover, #goToLeaderboard:focus, #goToLeaderboard:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
  background-color: rgb(0, 174, 255);
}
