* {
  font-family: Arial, sans-serif;
}

body {
  background-color: #000000;
}

#roulette {
  width: 500px;
  height: 500px;
  position: absolute;
}

#wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

#centerCircle {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 100px;
  left: 100px;
  background-color: black;
  border-radius: 300px;
  opacity: 0.5;
}

.sliceEnd {
  stroke: #C0C0C0;
  stroke-width: 1px;
}

.sliceEnd:hover {
  fill: blue !important;
}

#spinButton {
  position: absolute;
  display: block;
  top: 132px;
  left: 515px;
  transition: 0.25s;
}

#arrowImage {
  position: absolute;
  top: 150px;
  left: 460px;
  width: 140px;
  height: 125px;
}

#markerDiv {
  position: absolute;
  width: 5px;
  height: 5px;
  color: cyan;
  top: 250px;
  left: 465px;
  visibility: hidden;
}

.sliceRefPoint {
  fill: transparent;
}

.pow {
  position: absolute;
  transition: all .2s ease-out;
}