/* ENTIRE PAGE */

body {
    font-family: helvetica, sans-serif;
  }
  
  /* HEADER */

header {
	height: 100px;
	background: black;
}

nav {
	width: 960px;
	margin: 0px auto;
	font-size: 22px;
}
  
header li {
	display: inline-block;
	margin-right: 120px;
	margin-top: 40px;
}

header li:first-child{
	margin-left: 110px;
}

header li:last-child {
	margin-right: 0px;
}

a {
	color: gold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

main {
	width: 960px;
	margin: 30px auto;
}

#laser-kitteh {
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}

#banner {
	display: block; 
	margin-top: 250px;
	margin-left: auto; 
	margin-right: auto;
}

#user-info {
	margin-left: auto; 
	margin-right: auto;
	width: 300px;
	margin-top: 50px;
  background-color: black;
}

fieldset {
  color: gold;
  font-size: 90%;
}

#submit-user-info {
	background: black;
	color: gold;
  font-weight: bold;
}

button {
	padding: 10px 30px;
	background: #000;
	color: #fff;
	border-radius: 2px;
	font-size: 18px;
	transition: 350ms;
}

button:hover {
  background: gray;
}

body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
    0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
    100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

/* FOOTER */

footer {
	height: 100px;
	background: black;
}

