/* ENTIRE PAGE */

body {
    font-family: helvetica, sans-serif;
  }
  
  /* HEADER */

header {
	height: 100px;
	background: black;
}

nav {
	width: 960px;
	margin: 0px auto;
	font-size: 22px;
}
  
header li {
	display: inline-block;
	margin-right: 120px;
	margin-top: 40px;
}

header li:first-child{
	margin-left: 110px;
}

header li:last-child {
	margin-right: 0px;
}

a {
	color: gold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

main {
	width: 960px;
	margin: 30px auto;
}

#laser-kitteh {
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}

#banner {
	display: block; 
	margin-top: 100px;
	margin-left: auto; 
	margin-right: auto;
}

#user-info {
	margin-left: auto; 
	margin-right: auto;
	width: 300px;
	margin-top: 80px;
  background-color: black;
}

fieldset {
  color: gold;
  font-size: 90%;
}

#submit-user-info {
	background: black;
	color: gold;
  font-weight: bold;
}

button {
	padding: 10px 30px;
	background: #000;
	color: #fff;
	border-radius: 2px;
	font-size: 18px;
	transition: 350ms;
}

button:hover {
  background: gray;
}

/* FOOTER */

footer {
	height: 100px;
	background: black;
}

