/* ENTIRE PAGE */

body {
    font-family: helvetica, sans-serif;
  }
  
  /* HEADER */

header {
	height: 100px;
	background: black;
}

nav {
	width: 960px;
	margin: 0px auto;
	font-size: 22px;
}
  
header li {
	display: inline-block;
	margin-right: 120px;
	margin-top: 40px;
}

header li:first-child{
	margin-left: 110px;
}

a {
	color: gold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

main {
	width: 960px;
	margin: 30px auto;
}

button {
	padding: 10px 30px;
	background: #000;
	color: #fff;
	border-radius: 3px;
	font-size: 20px;
	transition: 350ms;
}

button:hover {
  background: gray;
}

/* FOOTER */

footer {
	height: 100px;
	background: black;
}

